.OverviewPage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.OverviewPageCourses {
	font-size: 60px;
	font-weight: bold;
	color: black;
	margin-top: 5vh;
	margin-left: 10vw;
	text-decoration-line: underline;
}

.OverviewPageButton {
	width: 30vw;
	height: 10vh;
	background-color: slategrey;
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: None;
	border-radius: 20px;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.OverviewPageButtonContainer {
	width: 35vw;
	height: 40vh;
	background-color: rgb(23, 52, 82);
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: None;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 35vw;
	margin-top: 20vh;
	flex-direction: column;
}

.LoginPage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.LoginPageButtonContainer {
	width: 35vw;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	background-color: rgb(23, 52, 82);
}

.LoginPageButton {
	width: 30vw;
	height: 15vh;
	background-color: slategrey;
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: None;
	border-radius: 20px;
	margin-bottom: 2vh;
	margin-top: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LessonPage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background-color: #646464 solid;
}

.LessonButtonInnerContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.LessonButtonOuterContainer {
	display: flex;
	flex-direction: column;
	justify-self: center;
	border-radius: 20px;
	background-color: rgb(23, 52, 82);
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-top: 5vh;
	padding: 10px
}

.LessonPageButton {
	width: 400px;
	height: 100px;
	background-color: slategrey;
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: None;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LessonButton {
	width: 20vw;
	height: 15vh;
	background-color: slategrey;
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: None;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.LessonNavSidebar {
	background-color: #454a4a;
	width: 10vw;
	height: 120%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-right: 1px #646464 solid;
}

.CodingTopBar {
	background-color: #313434;
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px #646464 solid;
}

.CodingTopButton {
	height: 50%;
	background-color: #8fc3ee;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	border-radius: 10px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.CodingHeader {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.LessonHeader {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #9fa9a9;
	font-size: 50px;
	font-weight: bold;
	border-bottom: 2px #333333 solid;
	color: black;
}

.ConsoleTopBar {
	width: 100%;
	height: 3vh;
	background-color: #454a4a;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	color: white;
	border-bottom: 1px #646464 solid;
}

.ConsoleTextArea {
	width: 100%;
	height: 20vh;
	background-color: #313434;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;

	color: white;
	overflow-y: scroll;

	padding-left: 30px;
	padding-top: 5px;

	font-family: "Tale-JetBrains Mono", Arial;
	font-weight: 100;
	font-size: 14px;
}

@font-face {
	font-family: 'Tale-JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.MultipleChoice {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.MultipleChoiceOuterContainer {

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 40vw;
	height: 65vh;
	background-color: #454a4a;
	border-radius: 5px;
}

.MultipleChoiceInnerContainer {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 98%;
	height: 18%;
	background-color: #646464;
	border-radius: 5px;
}

.Question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 18%;
	text-align: left;
	margin-left: 5%;
	color: white;
	font-size: large;
	border-bottom-width: 10px;
	border-color: black;


}

.LessonMarkdownPage {
	width: 100%;
	text-align: left;

	padding-left: 10%;

	font-size: 18px;
}
