.OverviewPage {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  text-align: flex-start;
}

.OverviewPageCourses {

  font-size: 60px;
  font-weight: bold;
  color: black;
  text-align: flex-start;
  margin-top: 5vh;
  margin-left: 10vw;
  
  text-decoration-line: underline;



}

.OverviewPageButton {
  width: 30vw;
  height: 10vh;
  background-color: slategrey;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: None;
  border-radius: 20px;

  margin-top: 1vh;
  margin-bottom: 1vh;

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.OverviewPageButtonContainer {
  
  width: 35vw;
  height: 40vh;
  background-color: rgb(23, 52, 82);
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: None;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35vw;
  margin-top: 20vh;

  flex-direction: column;

}

.LoginPage {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.LoginPageButtonContainer {

  width: 35vw;
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 20px;

  background-color: rgb(23, 52, 82);
}
.LoginPageButton {
  width: 30vw;
  height: 15vh;
  background-color: slategrey;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: None;
  border-radius: 20px;
  margin-bottom: 2vh;
  margin-top: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.LessonPage {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.LessonPageButton {
  width: 400px;
  height: 100px;
  background-color: slategrey;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: None;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.LessonNavSidebar {
  background-color: #454a4a;
  width: 10%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
